body{
	font-family: Roboto Condensed;
	margin:0;
	padding:20px;
	background-color: #eceff1;
}
*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: #002171;
	padding:30px;
}
header h1{
	text-align: center;
	font-size:60px;
	color:#ff6f00;
	margin:1.5 0px;
}

h2{
	color:#ff6f00;
margin:1.5 0px;
}
.left-column{
float: left;
width: 75%;
}

.right-column1{
 width: 25%;
 float: right;
 flex-direction: row-reverse;
 padding-left:20px;
}
.right-column2{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #ffffff;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}


footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

/*Responsive ven a mí */

@media(max-width:800px){
	.left-column,.right-column1,.right-column2{
    width: 100%;
    padding: 0px;
	}
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
