<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cuspitech Noticias</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<body>

 <header>
 	<h1>CUSPINEWS</h1>
 </header>
 <div class="row">
 	<div class="left-column">
 	  <div class="card">
 		<h2>NUEVO NOKIA 2.3 EN ARGENTINA!</h2>
 		<h5>NOKIA 2.3, Diciembre 20, 2020</h5>
 		<img src="../img/Principales-news1.jpg" alt="Noticias Principales"/>
 		<p>Información breve:</p>
 		<p>Potenciado por un procesador Helio A22 de Mediatek, el Nokia 2.3 tiene 2GB de memoria RAM y 32GB de espacio de almacenamiento expandible vía microSD y una pantalla de 6.2". Nokia desembarcó en Argentina con éste Nokia 2.3 para cubrir la gama de entrada haciendo frente a sus competidores, como el Samsung Galaxy A01, TCL L9s, etc. Su fuerte está en su sistema operativo, Android One que nos otorga 2 años de actualizaciones de sistema y 3 años de parches de seguridad. Conoce más haciendo click en el enlace a continuación:</p>
    <a href="https://www.youtube.com/watch?v=kjTim9PvX6c&t=18s&ab_channel=Cuspitech">Enteráte más del Nokia 2.3!</a>
 	  </div>
 	  <div class="card">
 		<h2>TRUCOS QUE PODES HACER CON TU NOKIA O DISPOSITIVO CON ANDROID ONE!</h2>
 		<h5>NOKIA 2.3 Trucos, Diciembre 20, 2020</h5>
 		<img src="../img/Principales-news2.jpg" alt="Noticias Principales"/>
 		<p>Información breve:</p>
 		<p>Desde cambiar los colores de la interfaz hasta activar el modo oscuro para no dañar tus ojos!. Si tenés un equipo NOKIA o un equipo que corra Android One, tenes que saber todos los trucos y configuraciónes interesantes que podes hacer con tu nuevo telefono!. Enteráte cómo, en el video a continuación:</p>
    <a href="https://www.youtube.com/watch?v=g1lmotKc8Ww&t=29s&ab_channel=Cuspitech">Enteráte más sobre estos trucos!</a>
 	  </div>
 	</div>
  <div class="right-column1">
   <div class="card">
      <h2>Acerca de mí!</h2>
      <img src="../img/Acerca de mí.jpg" alt="Quien soy yo?"/>
      <p>Hola!, en el canal vas a encontrar todo tipo de cosas relacionadas al mundo de la tecnología!. Buscame en Youtube para ver mi contenido!</p>
        <a href="https://www.youtube.com/channel/UCfKfVL0U2A-h-9oz-oGgazA?view_as=subscriber">Conocé mi canal de YouTube</a>
   </div>
   <div class="card">
      <h3>Fotos artísticas del último video! Amazfit Band 5</h3>
      <img src="../img/Noticias secundarias1.jpg" alt="Corresponde foto-noticias"/>
      <img src="../img/Noticias secundarias2.jpg" alt="Corresponde foto-noticias"/>
      <img src="../img/Noticias secundarias3.jpg" alt="Corresponde foto-noticias"/>
   </div>
   <div class="card">
     <h3>Para ver más fotos visitá mi Instagram!</h3>
     <a href="https://www.instagram.com/cuspitech/">Hacé click acá!</a>
   </div>
  </div>
  </div>
  <div class="row">
  	<div class="left-column">
  	  <div class="card">
  		<h2>LA AMAZFIT BAND 5 LLEGA A LA ARGENTINA CON SPO2 PERO... Y ALEXA?</h2>
  		<h5>Amazfit Band 5, Diciembre 20, 2020</h5>
  		<img src="../img/Principales-news3.jpg" alt="Noticias Principales"/>
  		<p>Información breve:</p>
  		<p>La Amazfit Band 5, una pulsera desarrollada por la empresa Huami, muy parecida a la Mi Band 5 pero que trae 2 opciones muy interesantes, el sensor de SpO2 (Medición de oxigeno en sangre) y Alexa, la asistente personal desarrollada por Amazon que nos permitirá hacerle preguntas y controlar la domótica de nuestra casa, basicamente controlar nuestras luces, robots limpiadores o cualquier aparato vinculado con Alexa. Pero como leyeron en el título, que pasa con Alexa aquí en Argentina y los paises de habla hispana?. Basicamente Alexa no está desarrollada al 100% por lo que esta funcion no está activa "temporalmente" en estos países, se espera que en proximas actualizaciones podamos disfrutar de esta función. Enteráte de más en el video a continuación:</p>
      <a href="https://www.youtube.com/watch?v=qYEsABcFmNo&t=23s&ab_channel=Cuspitech">Mirá todo lo que podes hacer con ésta Amazfit Band 5!</a>
  	  </div>
  	  <div class="card">
  		<h2>OPPO REALME, LLEGA A LA ARGENTINA EL COMPETIDOR DIRECTO DE XIAOMI</h2>
  		<h5>REALME, Diciembre 20, 2020</h5>
  		<img src="../img/Principales-news4.jpg" alt="Noticias Principales"/>
  		<p>Información breve:</p>
  		<p>A principio de año, Realme, division de celulares de gama media alta desarrollada por Oppo (China) llegó a la Argentina para competir con otras marcas en lo que a precio calidad se refiere. Los modelos que se pueden conseguir en el país son: Realme XT, 6 Pro, 6, 6i, C3 y una pulsera inteligente, la Realme Band. El sistema operativo que corren es Realme UI y todos estos modelos tienen la posibilidad de llevarlos a Android 11, con respecto a la construccion y confiabilidad de estos equipos, se puede decir que es muy buena ya que tienen estandares de calidad muy altos, no tienen nada que envidiarle a telefonos de marcas reconocidas. Conocé más de estos equipos en el Instagram oficial:</p>
      <a href="https://www.instagram.com/realmestore.ar/">Instagram de RealmeStoreArgentina!</a>
  	  </div>
  	</div>
 	<div class="right-column2">
 		<div class="card">
 			 <h2>Próximas noticias y contenido!</h2>
 			 <img src="../img/Lo que se viene papá.jpg" alt="Filtraciones"/>
 			 <p>El One Plus 9 traerá procesador Snapdragon 875 o 888?. Enterate la próxima semana!</p>
 		</div>
 		<div class="card">
 			 <h3>Lo que se viene!</h3>
 			 <img src="../img/Noticias secundarias4.jpg" alt="Corresponde foto-niticias"/>
 			 <img src="../img/Noticias secundarias5.jpg" alt="Corresponde foto-niticias"/>
 			 <img src="../img/Noticias secundarias6.jpg" alt="Corresponde foto-niticias"/>
 		</div>
 		<div class="card">
 			<h3>Estate atento a todo el contenido que se viene!</h3>
 			<p>Sólo aquí, en CUSPINEWS!</p>
 		</div>
 	</div>
 </div>

<footer>
	<h2>Copyright by CUSPITECH</h2>
</footer>

</body>
</head>
