<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePageCuspitechNews</title>
  <link rel="stylesheet" href="../css/style2.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <div class="full-screen">
    <video src="../video.mp4" autoplay muted loop></video>
    <div class="content">
      <img src="../img/cuspitech.png" alt="">
      <a href="file:///C:/Users/Tom%C3%A1s%20De%20Simone/Desktop/Project%20Web%20Page/layouts/potreroDigital_proyecto_grupo20_Newspaper_WebPage.html">Enterate de noticias!</a>
    </div>
  </div>
</body>
</html>
